<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <form>
            <label>Select Comment</label>
            <input type="checkbox" id="select_comment">
            <label>Save Comment</label>
            <input type="checkbox" id="save_comment">

            <label>Resolution (Video Only)</label>
            <input type="text" id="res">
            <label>Optional Metadata</label>
            <input type="file" id="opt_metadata">

            <button type="submit">Save</button>
        </form>
        <script src="options.js"></script>
    </body>
</html>